<p id="notice"><%= notice %></p>

<%= link_to 'Back', buildings_path, class: 'btn btn-primary mb-4' %>

<div class="card">
  <div class="card-header">
    <strong>Building Name:</strong>
    <%= @building.name %>
  </div>

  <div class="card-body">
    <div>
      <strong>Country:</strong>
      <%= @building.country %>
    </div>

    <div>
      <strong>Address:</strong>
      <%= @building.address %>
    </div>

    <div>
      <strong>Rent per floor:</strong>
      <%= @building.rent_per_floor %>
    </div>

    <div>
      <strong>Number of floors:</strong>
      <%= @building.number_of_floors %>
    </div>

    <div>
      <strong>Companies:</strong>
      <ul>
        <% @building.companies.uniq.each do |company| %>
          <li><%= link_to company.name, company %></li>
        <% end %>
      </ul>
    </div>

    <div>
      <strong>Total Employees in Building:</strong>
      <%= @building.total_employees %>
    </div>
  </div>
</div>
